@import "/src/assets/font_jc/iconfont.css";
@font-face {
  font-family: "langqian";
  src: url('../assets/font-lq/langqian.otf');
}
html,
body {
  width: 100%;
  min-width: 1920px;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: auto;
  box-sizing: border-box;
  font-family: "Microsoft YaHei UI", Avenir, Helvetica, Arial, sans-serif;
}
#app {
  height: 100%;
  width: 100%;
  color: #2c3e50;
}
